.weatherDataCont {
  background-color: blueviolet;
  border-radius: 1em;
  width: auto;
  height: auto;
  line-height: 3em;
  transition: all 0.5s;
  color: white;
}

/* Scale up the box */
.weatherDataCont:hover {
  /* transform: scale(1.2, 1.2); */
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 rgba(203, 40, 253, 0.5),
    0 6px 10px 0 rgba(204, 19, 250, 0.705);
}

.weatherExtraInfoCont {
  background-color: cornflowerblue;
  width: 100%;
  /* display: inline-block; */
  /* border-bottom-right-radius: 1em;
  border-top-right-radius: 1em; */
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.weatherTemperaturCont {
  background-color: blueviolet;
  width: 60%;
  display: inline-block;
  border-bottom-left-radius: 1em;
}

.temperature {
  font-size: 2em;
  font-weight: 600;
  padding: 0.5em;
  border-radius: 1em;
}

.temperatureType {
  font-weight: 600;
  color: whitesmoke;
}

.extraInfoText {
  /* display: block; */
}

.wicon {
  color: rgb(255, 255, 255);
  font-size: 4em;
}
