body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3a3f4b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.detailsComponent {
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
}

.gridApp {
  margin: 0em;
}

.logoApp {
  width: 4em;
  display: inline-block;
  float: left;
  vertical-align: sub;
}

.tituloAppH1 {
  display: inline-block;
  float: left;
}
